/.env
/.env.*
!/.env.example
/vendor/
/node_modules

/storage/documents/firmas/*
!/storage/documents/firmas/.gitignore
/storage/exports/*
!/storage/exports/.gitignore
/storage/imports/*
!/storage/imports/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/temp/*
!/storage/temp/.gitignore
/storage/backups/*
!/storage/backups/.gitignore


/storage/cache/
