<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Phase3C">
            <file>tests/Unit/Services/DocumentoVersionMagicBytesTest.php</file>
        </testsuite>
        <testsuite name="Phase2C">
            <file>tests/Unit/Services/GdprServiceTest.php</file>
        </testsuite>
        <testsuite name="Phase1C">
            <file>tests/Unit/Middleware/CorsMiddlewareTest.php</file>
            <file>tests/Unit/Middleware/SecurityHeadersMiddlewareTest.php</file>
        </testsuite>
        <testsuite name="PerfilPassword">
            <file>tests/Unit/Services/ChangePasswordServiceTest.php</file>
        </testsuite>
        <testsuite name="Phase6">
            <file>tests/Unit/Services/TrustServiceMfaTest.php</file>
        </testsuite>
        <testsuite name="Phase9Phase10">
            <file>tests/Unit/HonorarioServiceTest.php</file>
            <file>tests/Unit/RbacTest.php</file>
            <file>tests/Unit/Api/RequiresApiScopeTest.php</file>
            <file>tests/Unit/Security/ApiRateLimitServiceTest.php</file>
            <file>tests/Unit/Services/JobMonitorServiceTest.php</file>
            <file>tests/Unit/Services/QueueServiceTest.php</file>
            <file>tests/Unit/Services/TrustServiceTest.php</file>
            <file>tests/Unit/Services/TrustServiceMfaTest.php</file>
            <file>tests/Unit/Services/WebhookServiceTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
</phpunit>
